<!-- Site Header - Start
================================================== -->
      <header class="site-header">
        <div class="container-fluid">
          <div class="row">
            <h1 class="hero-title">
              <a class="brand_link" href="{{ site.url }}{{ site.baseurl }}">
                Hazelmead Community Energy
              </a>
            </h1>
            <div class="header-buttons">
              <a href="{{ site.url }}{{ site.baseurl }}/support/" style="color: #fff; text-decoration: none; font-size: 24px; font-weight: bold; margin-right: 20px;">
                Help & Support
              </a>
              <a class="btn" href="{{ site.esco.app_url }}">
                Customer Log In
              </a>
            </div>
          </div>
        </div>
      </header>
<!-- Site Header - End
================================================== -->